{% extends "body.html" %}

{% block content %}
    <!-- Content -->
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h3>{{ user.get_full_name }}</h3>
            <p>
                {% if user.is_student %}
                    Student at <a href="/university?name={{ user.university_set.first.name }}">{{ user.university_set.first.name }}</a>
                {% elif user.is_professor %}
                    Professor at <a href="/university?name={{ user.university_set.first.name }}">{{ user.university_set.first.name }}</a>
                {% elif user.is_engineer %}
                    Engineer at <a href="/company?name={{ user.company_set.first.name }}">{{ user.company_set.first.name }}</a>
                {% elif user.is_admin %}
                    Site Admin
                {% else %}
                    None
                {% endif %}
            </p>
            <p>Email: {{ user.email }}</p>
            <p>About me: {{ user.about }}</p>
        </div>
    </div>
{% endblock %}