{% extends "body.html" %}

{% block content %}

    <!-- Content -->
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>{{ group.name }}</h1>
            <p>{{ group.description }}</p>
            {% if project != None %}
                <p>Project: <a href="/project?name={{ project.name }}">{{ project.name }}</a></p>
            {% endif %}
            {% if userIsMember %}
                <div>
                    <a href="/group/linkform?name={{ group.name }}" class="btn btn-default">Link to project</a>
                    <a href="/group/delete?name={{ group.name }}" class="btn btn-default">Delete group</a>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                <tr>
                    <th>Users</th>
                </tr>
                </thead>
                <tbody>
                {% for item in group.members.all %}
                    <tr>
                        <td>{{ item.get_full_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if userIsMember %}
            <div>
                <form action="/group/add?name={{ group.name }}" method="post">
                    {% csrf_token %}
                    <input type="text" name="email" id="email" placeholder="Email">
                    <input type="submit" value="Add Member">
                </form>
            </div>
        {% endif %}
        <table class="table table-striped sortable">
            <thead>
                <tr>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for item in comments %}
                <tr>
                    <td><a href="/user?email={{ item.user.email }}">{{ item.user.get_full_name }}</a></td>
                    <td>{{ item.text |safe }}</td>
                    {% if user.email == item.user.email %}
                        <td><a href="/group/removecomment?name={{ group.name }}&id={{ item.id }}">Remove</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="post" enctype="multipart/form-data" action="/group/addcomment?name={{ group.name }}" class="panel-body validate">
            {% csrf_token %}
            {{ form }}
            <br/>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
	</div>

{% endblock %}