{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container" role="main">
        <div class="jumbotron">
			<h1>Groups</h1>
            {% if isStudent %}
                <a href="/group/form" class="btn btn-primary">Create a group</a>
            {% endif %}
		</div>
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Group</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for item in groups %}
					<tr>
						<td><a href="/group?name={{ item.name }}">{{ item.name }}</a></td>
						<td>{{ item.description }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}